<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/081494fd-b1a2-4352-a282-7086d94757d4/resourceGroups/SuperjackMultiSitesApi20210925022937ResourceGroup/providers/Microsoft.Web/sites/SuperjackMultiSitesApi20210925022937</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://superjackmultisitesapi20210925022937.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>bee68ad9-f318-4c69-881d-780299fba8ed</ProjectGuid>
    <MSDeployServiceURL>superjackmultisitesapi20210925022937.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SuperjackMultiSitesApi20210925022937</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$SuperjackMultiSitesApi20210925022937</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ApiResourceId>/subscriptions/081494fd-b1a2-4352-a282-7086d94757d4/resourceGroups/SuperjackMultiSitesApi20210925022937ResourceGroup/providers/Microsoft.ApiManagement/service/SuperjackMultiSitesApiapi/apis/SuperjackMultiSitesApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>